@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #ebbf50;
  --primary-foreground: #7d652a;
  --secondary: #f5f5f5;
  --secondary-foreground: #1a1a1a;
  --muted: #f5f5f5;
  --muted-foreground: #6b7280;
  --accent: #fbe4b0;
  --accent-foreground: #1a1a1a;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #ebbf50;
  --chart-1: #ebbf50;
  --chart-2: #d1d5db;
  --chart-3: #9ca3af;
  --chart-4: #6b7280;
  --chart-5: #4b5563;
  --sidebar: #0a0a0a;
  --sidebar-foreground: #f9fafb;
  --sidebar-primary: #ebbf50;
  --sidebar-primary-foreground: #7d652a;
  --sidebar-accent: #374151;
  --sidebar-accent-foreground: #f9fafb;
  --sidebar-border: #1f2937;
  --sidebar-ring: #4b5563;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Cormorant Garamond', serif;
  --font-mono: 'Roboto Mono', monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: #0A0A0A;
  --shadow-2xs: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.04);
  --shadow-xs: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.04);
  --shadow-sm: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.08), 0px 1px 2px -1px hsl(0 0% 3.9216% / 0.08);
  --shadow: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.08), 0px 1px 2px -1px hsl(0 0% 3.9216% / 0.08);
  --shadow-md: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.08), 0px 2px 4px -1px hsl(0 0% 3.9216% / 0.08);
  --shadow-lg: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.08), 0px 4px 6px -1px hsl(0 0% 3.9216% / 0.08);
  --shadow-xl: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.08), 0px 8px 10px -1px hsl(0 0% 3.9216% / 0.08);
  --shadow-2xl: 0px 6px 12px 0px hsl(0 0% 3.9216% / 0.20);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f9fafb;
  --card: #121212;
  --card-foreground: #f9fafb;
  --popover: #121212;
  --popover-foreground: #f9fafb;
  --primary: #ebbf50;
  --primary-foreground: #372d13;
  --secondary: #1a1a1a;
  --secondary-foreground: #f5f5f5;
  --muted: #37231e;
  --muted-foreground: #9ca3af;
  --accent: #744e14;
  --accent-foreground: #f9fafb;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #374151;
  --input: #374151;
  --ring: #ebbf50;
  --chart-1: #ebbf50;
  --chart-2: #d1d5db;
  --chart-3: #9ca3af;
  --chart-4: #6b7280;
  --chart-5: #4b5563;
  --sidebar: #0a0a0a;
  --sidebar-foreground: #f9fafb;
  --sidebar-primary: #ebbf50;
  --sidebar-primary-foreground: #372d13;
  --sidebar-accent: #744e14;
  --sidebar-accent-foreground: #f9fafb;
  --sidebar-border: #374151;
  --sidebar-ring: #ebbf50;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Cormorant Garamond', serif;
  --font-mono: 'Roboto Mono', monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 8px 20px -4px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 8px 20px -4px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 8px 20px -4px hsl(0 0% 0% / 0.40), 0px 1px 2px -5px hsl(0 0% 0% / 0.40);
  --shadow: 0px 8px 20px -4px hsl(0 0% 0% / 0.40), 0px 1px 2px -5px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 8px 20px -4px hsl(0 0% 0% / 0.40), 0px 2px 4px -5px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 8px 20px -4px hsl(0 0% 0% / 0.40), 0px 4px 6px -5px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 8px 20px -4px hsl(0 0% 0% / 0.40), 0px 8px 10px -5px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 8px 20px -4px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
* {
  margin: 0;
}
body {
  letter-spacing: var(--tracking-normal);
  height: 100vh;
  background-color: var(--background);
}

.monitor-border {
}